[include]
  path = ~/.gitconfig_local
[alias]
  st = status
  co = checkout
  br = branch
  ci = commit
  l = log --all --graph --pretty='format:%C(yellow)%h%C(cyan)%d %C(red)$%ar %C(reset)%s'
[core]
  editor = vim
  excludesfiles = ~/.gitignore
[pager]
  log = ~/bin/diff-highlight | less -R
  diff = ~/bin/diff-highlight | less -R
  show = ~/bin/diff-highlight | less -R
