[user]
  name = otomarukanta
  email = kanta208@gmail.com
[alias]
  st = status
  co = checkout
  br = branch
  ci = commit
[core]
  editor = vim
[pager]
  log = ~/bin/diff-highlight | less -R
  diff = ~/bin/diff-highlight | less -R
  show = ~/bin/diff-highlight | less -R
